asgiref
boto3
botocore
certifi
cffi
charset-normalizer
click
colorama
cryptography
Django
django-cors-headers
django-rest-knox
django-rest-passwordreset
djangorestframework
dynaconf
hvac
idna
Jinja2
jmespath
knox
loguru
MarkupSafe
psycopg2
pycparser
python-dateutil
requests
s3transfer
setuptools
shortuuid
six
sqlparse
tzdata
urllib3
validators
win32-setctime
django-phone-field
